{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        <h2>Secret view box</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <form class="form-check-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="secretList" class="sr-only">List of available secrets</label>
                            <select class="form-control" name="secret-list" id="secretList">
                                <option value="">Select a secret hash</option>
                            </select>
                        </div>

                        <button type="button" id="peekFromList" class="btn btn-primary mb-2">Peek</button>
                    </form>
                </div>
                <div class="row">
                    <form class="form-check-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="secretTextPeek" class="sr-only">Secret hash to peek at</label>
                            <input type="text" class="form-control" id="secretTextPeek" placeholder="Or enter your hash">
                        </div>

                        <button type="button" id="peekFromText" class="btn btn-primary mb-2">Peek</button>
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <small class="form-text text-muted">View counter will decrement after peek</small>
                    </div>
                </div>
                <hr>
                <div id="selectedSecretDetailsBox" class="row card-header" style="display: none">
                    <div class="col-sm">
                        <h3>Selected Secret Details</h3>
                        <form>
                            <div class="form-group row">
                                <label for="staticHash" class="col-sm-3 col-form-label">Hash</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticHash" value="2bf1f257-f05c-4e82-b55e-74651049af51">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticSecretText" class="col-sm-3 col-form-label">Secret</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticSecretText" value="I said I won't tell it!">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticCreatedAt" class="col-sm-3 col-form-label">Created At</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticCreatedAt" value="2018-03-01 22:36">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticExpiresAt" class="col-sm-3 col-form-label">Expires At</label>
                                <div class="col-sm-9">
                                    <input type="text" readonly class="form-control-plaintext" id="staticExpiresAt" value="2018-04-15 10:03">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticRemainingViews" class="col-sm-4 col-form-label">Remaining Views</label>
                                <div class="col-sm-8">
                                    <input type="number" readonly class="form-control-plaintext" id="staticRemainingViews" value="350">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        <h2>Add new secret</h2>
                        <div id="secretPostFormError" class="alert-warning" style="display: none">
                            <span>Some values are not right</span>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <form>
                            <div class="form-group">
                                <label for="secretText">Secret text</label>
                                <input type="text" class="form-control" id="secretText" placeholder="Enter secret text">
                            </div>
                            <div class="form-group">
                                <label for="expireAfterViews">Expire after</label>
                                <input type="number" min="1" value="1" class="form-control" id="expireAfterViews" placeholder="Enter amount of allowed views">
                            </div>
                            <div class="form-group">
                                <label for="expireAfterMinutes">Expire after minutes</label>
                                <input type="number" min="0" value="0" class="form-control" id="expireAfterMinutes" aria-describedby="expireAfterMinutesHelp" placeholder="Enter amount of minutes">
                                <small id="expireAfterMinutesHelp" class="form-text text-muted">0 minutes means never expires.</small>
                            </div>
                            <button type="button" id="submitSecret" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <hr>
                {#<div class="row dropdown-header">#}
                    {#<div class="col-sm">#}
                        {#<h3>Your created secrets</h3>#}

                        {#Use #}
                        {#$("ul").prepend("<li>ONE</li>");#}
                        {#to populate this list#}
                        {#<ul id="createdSecretHashList">#}
                            {#<li data-container="">You didn't create any secret yet!</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/secretDemoApp/SecretDemoApp.js') }}"></script>
{% endblock %}